/* Size order guide
  - Font size
  - Line height
  - Margins
*/

// Font size
$font-size-xxl: 35px;
$font-size-xl: 18px;
$font-size-normal: 16px;
$font-size-l: 13px;

// Line height
$line-height-xl: 1.5rem;
$line-height-normal: 1.2rem;

// Margins
$spacing-normal: 30px;
$spacing-l: 23px;
